.step-group text {
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;
}

.step-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

/* ------------ */
/* ------------ */
/* step */

.step {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

/* ------------ */
/* ------------ */
/* step bar, a shaded rectangle visualizing the length */

.step-bar {
  border: 2px solid black;
  border-radius: 2px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  transition: margin-left 0.3s ease-out, width 0.3s ease-out;
}

.step:hover .step-bar {
  opacity: 0.6;
}

.step-bar.passive {
  background: white;
}

/* light shading */
.step-bar.semi-active {
  background: repeating-linear-gradient(
    -45deg,
    white,
    white 3px,
    black 3px,
    black 4px
  );
}

/* dark shading */
.step-bar.active {
  background: repeating-linear-gradient(
    -45deg,
    black,
    black 3px,
    white 3px,
    white 4px
  );
}

/* ------------ */
/* ------------ */
/* full step content, the ingredients and direction */

.step .full-step-view {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.step.open .full-step-view {
  opacity: 1;
  visibility: visible;
}

/* ------------ */
/* ------------ */
/* step header, labeling the title and duration */

.step-header {
  position: absolute;
  white-space: nowrap;
  font-family: 'Libre Baskerville', serif;
  line-height: 15px;
  border-bottom: 1px solid #BBB;
  top: -1px;
}

.step-title {
  font-size: 13px;
  display: block;
}

.step-duration {
  font-size: 11px;
  font-style: italic;
  color: #888;
}
