.step-group text {
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;
}

.step-time-label {
  font-style: italic;
  fill: #666;
}

.step-group rect {
  /* mask: url(#mask-stripe); */
  /* fill: black; */
}
