body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

nav {
  text-align: center;
  margin: 30px 0 50px;
}

nav a {
  padding: 6px;
  text-decoration: none;
  color: black;
}

nav a.router-link-exact-active {
  border-bottom: 7px solid #82ccdd;
}

.layout {

}

.layout-wrapper {
  display: flex;
  max-width: 1100px;
  margin: 20px auto;
  padding: 0 50px;
}

.layout-side-panel {
  width: 300px;
}

.layout-content-with-side-panel {
  flex-grow: 1;
  padding: 0 40px;
}

.layout-content-full-width {
  width: 100%;
}

p {
  max-width: 400px;
}

h1 {
  font-weight: 100;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

h3 {
  font-weight: 100;
  font-size: 19px;
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #DDD;
}

h4 {
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .layout-wrapper {
    display: block;
    padding: 0 20px;
  }
  
  .layout-content-with-side-panel {
    width: 100%;
    padding: 0;
  }

  .layout-side-panel {
    width: 100%;
  }
}
